.card {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 1rem 0 0 0;
  position: relative;
}

.lightCard {
  background-color: var(--background-header-light);
}

.darkCard {
  background-color: var(--background-header-dark);
}

.cardImage {
  max-width: 300px;
  height: auto;
  border-radius: 0.5rem;
  padding: 1rem;
  float: left;
}

.cardBody {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.cardTitle {
  font-weight: bold;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.cardTitle a {
  color: var(--link-color);
  text-decoration: none;
  margin-right: 1rem;
  flex-shrink: 0;
}

.cardTitle a:hover {
  color: var(--link-hover-color);
}

.cardTitle span {
  color: var(--text-color);
}

.cardSubtitle {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--subtitle-color, var(--text-color));
}

.cardDescription {
  color: var(--text-color);
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.cardCount {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--secondary-color-light);
  color: var(--background-color-light);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: bold;
}

.darkCard .cardCount {
  background-color: var(--secondary-color-dark);
  color: var(--text-color-dark);
}

@media (max-width: 768px) {
  .cardImage {
    width: 100%;
    max-width: 300px;
    padding: 1rem 0;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .cardBody {
    clear: both;
  }

}