:root {
  --icon-fill-color-light: #000000;
  --text-color-light: #555;
  --background-color-light: #ffffff;
  --primary-color-light: #1a73e8;
  --secondary-color-light: #ff5722;
  --font-family: "Spectral", serif, system-ui, -apple-system, "system-ui",
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --link-color-light: #1a73e8;
  --link-hover-color-light: #0c47a1;

  --icon-fill-color-dark: #ffffff;
  --text-color-dark: #ffffff;
  --background-color-dark: #121212;
  --primary-color-dark: #FFD700; /* Gold */
  --secondary-color-dark: #FFA07A; /* Light Salmon */
  --link-color-dark: #87CEFA; /* Light Sky Blue */
  --link-hover-color-dark: #ffffff;
  --background-header-light: #f4f4f4;
  --background-row-even-light: #f9f9f9;
  --background-row-hover-light: #f1f1f1;
  --background-header-dark: #333;
  --background-row-even-dark: #444;
  --background-row-hover-dark: #555;
}

html.light {
  --icon-fill-color: var(--icon-fill-color-light);
  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --link-color: var(--link-color-light);
  --link-hover-color: var(--link-hover-color-light);
  --background-header: var(--background-header-light);
  --background-row-even: var(--background-row-even-light);
  --background-row-hover: var(--background-row-hover-light);
  --callout-background: rgba(219, 234, 254, 1);
  --border-color: rgba(191, 219, 254, 1);
}

html.dark {
  --icon-fill-color: var(--icon-fill-color-dark);
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --link-color: var(--link-color-dark);
  --link-hover-color: var(--link-hover-color-dark);
  --background-header: var(--background-header-dark);
  --background-row-even: var(--background-row-even-dark);
  --background-row-hover: var(--background-row-hover-dark);
  --callout-background: rgba(30, 58, 138, 0.3);
  --border-color: rgba(191, 219, 254, 0.3);
}

/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  font-kerning: auto;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 1em 0 0.5em;
  line-height: 1.25;
}

p {
  font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.6;
  margin: 1em 0;
}

a {
  color: var(--link-color) !important;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

blockquote {
  border-left: 4px solid var(--secondary-color);
  padding-left: 16px;
  margin: 1em 0;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1.1em;
  line-height: 1.6;
}

.nextra-callout {
  width: fit-content;
  padding: 16px;
  margin: 1em 0;
  border: 4px solid var(--border-color);
  background-color: var(--callout-background);
  border-radius: 4px;
}

code {
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(27, 31, 35, 0.05);
  padding: 2px 4px;
  border-radius: 3px;
}

.image-container {
  display: flex;
  justify-content: left;
  margin: 20px 0;
}

.about-image {
  max-height: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.excerpt a:hover {
  text-decoration: none;
}

a.directory-link {
  color: var(--link-color);
  margin-bottom: 5px;
}