/* Base styles for blockquote */
.blockquote {
  color: var(--text-color);
  border-left: 4px solid #ccc;
  padding-left: 16px;
  margin: 1em 0;
  white-space: pre-wrap; /* Preserve line breaks */
  font-family: "Spectral", serif, system-ui, -apple-system, "system-ui",
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol"; /* Font family */
  font-size: 1.2rem; /* Adjust font size for readability */
  line-height: 1.6; /* Adjust line height for readability */
}

/* Light theme styles for blockquote */
.blockquoteLight {
  --text-color: #555;
}

/* Dark theme styles for blockquote */
.blockquoteDark {
  --text-color: #fff;
}

/* Base styles for paragraph */
.paragraph {
  white-space: pre-wrap; /* Preserve line breaks */
  margin-top: 1em;
  font-family: "Spectral", serif, system-ui, -apple-system, "system-ui",
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol"; /* Font family */
  font-size: 1.2rem; /* Adjust font size for readability */
  line-height: 1.6; /* Adjust line height for readability */
}
