---
import Layout from "../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import PostCard from "../components/PostCard.astro";

const allDhpPosts = await getCollection("dhp");

// Natural sort function
const naturalSort = (a: CollectionEntry<"dhp">, b: CollectionEntry<"dhp">) => {
	return a.id.localeCompare(b.id, undefined, {
		numeric: true,
		sensitivity: "base",
	});
};

console.log(allDhpPosts);
const sortedPosts = allDhpPosts.sort(naturalSort);
---

<Layout title="Dhammapada Verses">
	<main class="container">
		<div class="posts-grid">
			{
				sortedPosts.map((post) => (
					<PostCard
						title={post.data.title}
						description={post.data.description}
						id={post.data.slug}
					/>
				))
			}
		</div>
	</main>
</Layout>
