---
import { transformId } from "../utils/transformId.ts";

const { path } = Astro.props;

// Pages to exclude breadcrumbs from
if (
	["/", "/read-later", "/saves", "/register", "/signin", "/dashboard"].indexOf(
		path
	) !== -1
)
	return null;

const segments = path.split("/").filter(Boolean);
---

<div class="text-sm text-gray-600 dark:text-gray-400 mt-4">
	<span>
		<a href="/" class="hover:underline">Home</a>
	</span>
	{
		segments.map((segment: string, index: number) => (
			<span>
				{" > "}
				{index === segments.length - 1 ? (
					<span>{transformId(segment)}</span>
				) : (
					<a
						href={`/${segments.slice(0, index + 1).join("/")}`}
						class="hover:underline"
					>
						{transformId(segment)}
					</a>
				)}
			</span>
		))
	}
</div>
