---
import { transformId } from "../utils/transformId.ts";

const { path } = Astro.props;

// Pages to exclude breadcrumbs from
if (
	[
		"/",
		"/read-later",
		"/saves",
		"/register",
		"/signin",
		"/dashboard",
		"/profile",
	].indexOf(path) !== -1
)
	return null;

const segments = path.split("/").filter(Boolean);
---

<div
	class="flex items-center text-sm py-2 px-4 text-[var(--text-color)] border-b border-[var(--border-color)]"
>
	<span>
		<a
			href="/"
			class="text-[var(--text-color)] hover:text-[var(--link-hover-color)] transition-colors duration-200"
			>Home</a
		>
	</span>
	{
		segments.map((segment: string, index: number) => (
			<span class="flex items-center">
				<svg
					class="w-4 h-4 mx-2 text-gray-400 dark:text-gray-500"
					fill="none"
					stroke="currentColor"
					viewBox="0 0 24 24"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M9 5l7 7-7 7"
					/>
				</svg>
				{index === segments.length - 1 ? (
					<span class="text-[var(--text-muted)]">{transformId(segment)}</span>
				) : (
					<a
						href={`/${segments.slice(0, index + 1).join("/")}`}
						class="text-[var(--text-color)] hover:text-[var(--link-hover-color)] transition-colors duration-200"
					>
						{transformId(segment)}
					</a>
				)}
			</span>
		))
	}
</div>
