---
const { description } = Astro.props;
---

{
	description && (
		<div class="my-2 p-4 rounded-lg border bg-[var(--callout-background)] border-[var(--border-color)]">
			<p class="my-0 text-lg italic">{description}</p>
		</div>
	)
}
