---
const { description } = Astro.props;
---

{
	description && (
		<div class="my-2 mt-4 p-4 rounded-lg border border-[var(--border-color)] w-[fit-content]">
			<p
				class="my-0 text-lg"
				set:html={description?.replace(
					/\[([^\]]+)\]\(([^)]+)\)/g,
					'<a href="$2" class="text-blue-600 hover:underline">$1</a>'
				)}
			/>
		</div>
	)
}

<style>
	@media print {
		div {
			border: 1px solid #333 !important;
			margin: 0.5rem 0 !important;
			padding: 0.75rem !important;
			background: transparent !important;
		}

		p {
			color: #333 !important;
			font-size: 12pt !important;
			margin: 0 !important;
			line-height: 1.5 !important;
		}

		a {
			color: #333 !important;
			text-decoration: underline !important;
		}
	}
</style>
