---
import ThemeToggle from "./ThemeToggle.astro";
import { Image } from "astro:assets";
import CC0Button from "../assets/CC0_button.svg";
---

<footer class="flex justify-between items-center border-t dark:border-gray-700">
	<div class="flex-none text-lg font-bold"><ThemeToggle /></div>
	<div class="flex items-center space-x-4 ml-auto">
		<div>
			<Image
				src={CC0Button}
				alt="CC0 License Button"
				class="h-8 opacity-30"
				width={88}
				height={31}
			/>
		</div>
	</div>
</footer>
