---
import ThemeToggle from "./ThemeToggle.astro";
import { Image } from "astro:assets";
import CC0Button from "../assets/CC0_button.svg";
---

<footer
	class="flex flex-col gap-2 sm:flex-row sm:justify-between sm:items-center border-t dark:border-gray-700 py-4"
>
	<div class="flex-none text-lg font-bold"><ThemeToggle /></div>
	<div class="flex items-center gap-4 ml-auto">
		<a
			href="/offline"
			class="text-sm text-gray-600 dark:text-gray-300 hover:underline"
			>Use Offline</a
		>
		<a
			href="/public-domain"
			class="text-sm text-gray-600 dark:text-gray-300 hover:underline"
			>Public Domain</a
		>
		<a
			href="/privacy"
			class="text-sm text-gray-600 dark:text-gray-300 hover:underline"
			>Privacy</a
		>
	</div>
</footer>
