---
import { getCollection, type CollectionEntry } from "astro:content";
import path from "path";
import PostCard from "./PostCard.astro";
import { getLastModified } from "../utils/getLastModified";

interface Props {
	n?: number;
}

const { n = 5 } = Astro.props;

const allDiscourses = await getCollection("all");
const discourseFiles = allDiscourses
	.filter(
		(discourse: CollectionEntry<"all">) =>
			discourse.id !== "index" &&
			!discourse.filePath?.includes("src/content/en/books/") &&
			discourse.data.description,
	)
	.map((discourse: CollectionEntry<"all">) => ({
		...discourse,
		lastModified: getLastModified(discourse.filePath ?? ""),
	}));

const latestDiscourses = discourseFiles
	.sort(
		(a: (typeof discourseFiles)[0], b: (typeof discourseFiles)[0]) =>
			b.lastModified.getTime() - a.lastModified.getTime(),
	)
	.slice(0, n);
---

<div class="px-2">
	{
		latestDiscourses.map((discourse: (typeof discourseFiles)[0]) => (
			<PostCard
				title={discourse.data.title}
				description={discourse.data.description}
				id={discourse.data.slug}
				lastUpdated={discourse.lastModified}
			/>
		))
	}
</div>
