---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="flex items-center border-b dark:border-gray-700">
	<div class="flex-none text-lg font-bold">
		<a href="/" class="text-xl" style="color:var(--text-color)">
			Words of the Buddha
		</a>
	</div>
	<div class="ml-auto">
		<!-- Potential space for future nav items -->
		<ThemeToggle />
	</div>
</nav>
