---
import { getCollection, type CollectionEntry } from "astro:content";
import { keyMap } from "../utils/keyMap";

const allDhpPosts = await getCollection("dhp");
const allMnPosts = await getCollection("mn");

const collections = [
	{ name: "dhp", count: allDhpPosts.length, suffix: "chapters" },
	{ name: "mn", count: allMnPosts.length, suffix: "discourses" },
];
---

<table class="min-w-full border-collapse my-4">
	<thead class="bg-gray-100 dark:bg-gray-800">
		<tr>
			<th class="py-2 px-4 text-left border-b dark:border-gray-700"
				>Collection</th
			>
			<th class="py-2 px-4 text-left border-b dark:border-gray-700">Status</th>
		</tr>
	</thead>
	<tbody>
		{
			collections.map(({ name, count, suffix }) => (
				<tr class="hover:bg-gray-50 dark:hover:bg-gray-700">
					<td class="py-2 px-4 border-b dark:border-gray-700">
						<a href={name}>{keyMap[name] || name}</a>
					</td>
					<td class="py-2 px-4 border-b dark:border-gray-700">
						{count} {suffix}
					</td>
				</tr>
			))
		}
	</tbody>
</table>
