---
const toggleTheme = () => {
	if (document.documentElement.classList.contains("dark")) {
		document.documentElement.classList.remove("dark");
		localStorage.theme = "light";
	} else {
		document.documentElement.classList.add("dark");
		localStorage.theme = "dark";
	}
};
---

<button
	id="themeToggle"
	class="p-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700"
>
	<span class="dark:hidden">☼</span>
	<span class="hidden dark:inline">☾</span>
</button>

<script is:inline>
	if (!window.themeToggleInitialized) {
		window.themeToggleInitialized = true;

		document.addEventListener("click", (e) => {
			if (e.target?.closest("#themeToggle")) {
				if (document.documentElement.classList.contains("dark")) {
					document.documentElement.classList.remove("dark");
					localStorage.theme = "light";
				} else {
					document.documentElement.classList.add("dark");
					localStorage.theme = "dark";
				}
			}
		});
	}
</script>
