<button
	id="themeToggle"
	class="p-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700"
>
	<span class="dark:hidden">☼</span>
	<span class="hidden dark:inline">☾</span>
</button>

<script>
	import { toggleTheme } from "../utils/theme";

	document.getElementById("themeToggle")?.addEventListener("click", () => {
		toggleTheme();
		// Dispatch custom event for components that need theme updates
		document.dispatchEvent(new CustomEvent("themeChanged"));
	});
</script>
