<button
	id="themeToggle"
	class="p-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700"
>
	<span class="dark:hidden">☼</span>
	<span class="hidden dark:inline">☾</span>
</button>

<script>
	import { initializeTheme, toggleTheme } from "../utils/theme";

	initializeTheme();

	document.getElementById("themeToggle")?.addEventListener("click", () => {
		toggleTheme();
	});
</script>
