.tableContainer {
  overflow-x: auto;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  font-family: var(--font-family); /* Use the global font family */
  color: var(--text-color); /* Use the global text color */
}

.table th {
  background-color: var(--background-header);
  border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
  background-color: var(--background-row-even);
}

.table tbody tr:hover {
  background-color: var(--background-row-hover);
  cursor: pointer;
}

.table td {
  border-bottom: 1px solid #ddd;
}

.light-theme {
  --background-header: var(--background-header-light);
  --background-row-even: var(--background-row-even-light);
  --background-row-hover: var(--background-row-hover-light);
  --text-color: var(--text-color-light);
}

.dark-theme {
  --background-header: var(--background-header-dark);
  --background-row-even: var(--background-row-even-dark);
  --background-row-hover: var(--background-row-hover-dark);
  --text-color: var(--text-color-dark);
}
